.lastpage{
	margin-top: 1em;
	.profile-details{
		height: 300px;
		width: 222px;
		border:1px solid black;
		margin:13px;
		background-color: #eae8e8;;
	}
	.details{
		       height: 208px;
    width: 188px;
		border:1px solid black;
		background-color: #fff;
		p{
			text-align: left;
			    line-height: 28px;
    padding-left: 6px;
		}
	}
	.Extra{
		width: 235px;
	}
	.adjust-size{
width: 202px;
	}
}