.profile-container{
    	
    	background-color: #fff;
    	padding: 20px;
	border: 1px solid #dcdcdc;
	box-sizing: border-box;
    border-bottom: 0;
}
.profile-summary{
	margin: 1em;
h1{
	border-bottom: 1 px solid black;
	font-weight: bold;
}
}
.about{
		background-color:#999;
		    margin-top: 33px;
	.title{
		text-align: center;
		font-weight: bold;
    padding-top: 9px;
	}
	.objective{
	    padding: 0px 0px 6px 13px;
	}
	
}